.login__input {
  width: 358px;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  padding-top: 30px;
  background-color: black;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  outline:none;
}
@media screen and (max-width: 600px) {
  .login__input {
    width: 300px;
  } 
}

@media screen and (max-width: 400px) {
  .login__input {
    width: 200px;
  } 
}